@font-face {
    font-family: 'iconfont';  /* project id 353271 */
    src: url('//at.alicdn.com/t/font_353271_9i52271axglj714i.eot');
    src: url('//at.alicdn.com/t/font_353271_9i52271axglj714i.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_353271_9i52271axglj714i.woff') format('woff'),
    url('//at.alicdn.com/t/font_353271_9i52271axglj714i.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_353271_9i52271axglj714i.svg#iconfont') format('svg');
  }
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-yanjing:before { content: "\e62a"; }
.icon-xihuan:before { content: "\e630"; }
.icon-shijian:before { content: "\e675"; }
.icon-01::before { content: "\e601"; }